<h2><%= @recipe_list.title%></h2>
<p><small>Lista criada por <%= @recipe_list.user.email %></small></p>
<div class="row mt-2">
  <% if @recipe_list.recipe_list_items.any? %>
    <% @recipe_list_items.each do |r| %>
    <article class="col-sm-6 media" id="<%= r.id %>">
      <p>
        <%= image_tag r.recipe.recipe_photo, class: "float-left item-img rounded-circle" %>
        <div class="media-body">
          <h4><%= link_to r.recipe.title, r.recipe %></h4>
          <ul>
            <li><%= r.recipe.recipe_type.name %></li>
            <li><%= r.recipe.cuisine.name %></li>
            <li><%= r.recipe.difficulty %></li>
            <li><%= r.recipe.cook_time_min %></li>
          </ul>
          <p class="float-right">
            <%= link_to "Excluir", remove_from_list_path(params[:id], r.recipe.id), method: 'delete', class: "btn btn-sm btn-danger"%>
          </p>
        </div>
      </p>
    </article>
    <% end %>
  <% end %>
</div>