  <h1><%= @recipe.title %></h1>
  <h3>Detalhes</h3>

  <p>
  	<%= @recipe.recipe_type %><br>
  	<%= @recipe.cuisine %><br>
  	<%= @recipe.difficulty %><br>
  	<%= @recipe.cook_time_min %>
  </p>

  <h3>Ingredientes</h3>
  <p>
    <%= @recipe.ingredients %>
  </p>

  <h3>Como Preparar</h3>
  <p>
    <%= @recipe.cook_method %>
  </p>

 <%= link_to 'Voltar', root_path %>