<div class="row">
  <div class="col-8">
    <h2><%= @recipe.title %></h2>
    <p>
      <small>Receita enviada por <%= @recipe.user.email %>.</small>
        <% if @recipe.rejected? %>
          <span class="badge badge-pill badge-danger">Recusada</span>
        <% else %>
          <% if @recipe.pending? %>
            <span class="badge badge-pill badge-warning">Pendente</span>
          <% else %>
            <span class="badge badge-pill badge-success">Aprovada</span>
          <% end %>
        <% end %>
      </p>
  </div>

  <div class="col-4 text-right">
    <% if current_user && (current_user == @recipe.user || current_user.admin?) %>
      <%= link_to 'Editar', edit_recipe_path, class: "btn btn-dark btn-sm" %>
    <% end %>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Aprovar', approve_recipe_path, class: "btn btn-success btn-sm" %>
      <%= link_to 'Rejeitar', reject_recipe_path, class: "btn btn-danger btn-sm" %>
    <% end%>
  </div>
</div>


<p>
  <% if @recipe.recipe_photo %>
    <%= image_tag @recipe.recipe_photo, class: "img-fluid" %>
  <% end %>
</p>

<h3>Detalhes</h3>
<p><strong>Tipo da Receita:</strong>
  <%= @recipe.recipe_type.name %></p>
<p><strong>Cozinha:</strong>
  <%= @recipe.cuisine.name %></p>
<p><strong>Dificuldade:</strong>
  <%= @recipe.difficulty %></p>
<p><strong>Tempo de Preparo:</strong>
  <%= @recipe.cook_time_min %></p>

<h3>Ingredientes</h3>
<p>
  <%= @recipe.ingredients %>
</p>

<h3>Como Preparar</h3>
<p>
  <%= @recipe.cook_method %>
</p>

<% if user_signed_in? && @user.recipe_lists.any? %>
  <h3>Listas</h3>
  <% if flash[:failure] %>
    <div class="alert alert-secondary">
      <%= flash[:failure] %>
    </div>
  <% end %>
  <%= form_with model: @recipe_list_item do |form| %>
    <div class="form-group mx-auto">
      <span class="mr-sm-1"><%= form.label :recipe_list_id, "Adicionar a" %></span>
      <span class="mr-sm-1"><%= form.collection_select(:recipe_list_id, @recipe_lists, :id, :title) %></span>
      <%= form.hidden_field :recipe_id, value: params[:id] %>
      <%= form.submit "Salvar", class: "btn btn-dark btn-sm" %>
    </div>
  <% end %>

  <% if @recipe.recipe_list_items.any? %>
    <p>Salva em:
      <ul>
        <% @recipe.recipe_list_items.each do |r| %>
          <li><%= r.recipe_list.title %></li>
        <% end %>
      </ul>
    </p>
<% end %>
  
<% end %>

<p class="text-center">
  <%= link_to 'Voltar', root_path, class: "btn btn-secondary btn-sm" %>
</p>