  <h2><%= @recipe.title %></h2>
  <p>Receita enviada por <%= @recipe.user.email %>.
  <% if @recipe.rejected? %>
    <span class="btn btn-outline-danger">Recusada</span>
  <% else %>
    <% if @recipe.pending? %>
      <span class="btn btn-outline-warning">Pendente</span>
    <% end %>
  <% end %>
  <br>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Aprovar', approve_recipe_path, class: "btn btn-success" %>
    <%= link_to 'Rejeitar', reject_recipe_path, class: "btn btn-danger" %>
  <% end%></p>

  <p>
    <% if @recipe.recipe_photo %>
      <%= image_tag @recipe.recipe_photo, class: "img" %>
    <% end %>
  </p>
 
  <h3>Detalhes</h3>
  <p>Tipo da Receita: 
    <%= @recipe.recipe_type.name %></p>
  <p>Cozinha:
  	<%= @recipe.cuisine.name %></p>
  <p>Dificuldade:
  	<%= @recipe.difficulty %></p>
  <p>Tempo de Preparo:
  	<%= @recipe.cook_time_min %></p>

  <h3>Ingredientes</h3>
  <p>
    <%= @recipe.ingredients %>
  </p>

  <h3>Como Preparar</h3>
  <p>
    <%= @recipe.cook_method %>
  </p>

<% if @recipe.user == current_user %>
  <%= link_to 'Editar', edit_recipe_path, class: "btn btn-dark" %>
<% end %>
 <%= link_to 'Voltar', root_path, class: "btn btn-secondary" %>