<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p class="field form-group">
    <%= f.label :email, 'Email' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </p>

  <p class="field form-group">
    <%= f.label :password, 'Senha' %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </p>

  <% if devise_mapping.rememberable? %>
    <p class="field form-check form-group">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </p>
  <% end %>

  <p class="actions">
    <%= f.submit "Login", class: "btn btn-dark" %>
  </p>
<% end %>

<p>
  <%= render "devise/shared/links" %>
</p>
