<!DOCTYPE html>
<html>
  <head>
    <title>CookBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/recipes.scss">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-sm-12">
          <h1><%= link_to 'CookBook', root_path %></h1>
          <p>Aqui você encontra as melhores receitas da internet. :)</p>
        </header>
      </div>

      <div class="row">
        <nav class="col-sm-12">
          <% if user_signed_in? %>
            <div class="btn-group">
              <%= link_to 'Enviar uma receita', new_recipe_path, class: "btn" %>
              <%= link_to 'Receitas pendentes', pending_recipes_path, class: "btn" %>
              <%= link_to 'Minhas Receitas', my_recipes_path, class: "btn" %>
              <%= link_to 'Minhas Listas', my_lists_path, class: "btn" %>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn" %>
            </div>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: "btn" %>
          <% end %>
        </nav>
      </div>

      <div class="row">
        <aside class="col-sm-4">
          <p>Ola, <%= current_user.email %>!</p><br>
          <%= link_to 'Todas as receitas', all_recipes_path %>
          <%= render 'recipes/search' %>
        </aside>

        <main class="col-sm-8">
          <%= yield %>
        </main>
      </div>

      <div class="row">
        <footer class="col-sm-12">
          <hr>
          <p><h4>CookBook©</h4> 2019 - Todos os direitos reservados.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
